.tituloPrincipal{
    padding-left: 10%;
}
#banner{
    width:100%;
}
.principal{
    background-color:#cccccc;
    padding:20px;
}
.tituloCentro{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}
#mision{
    font-size: 20px;
}
.items{
    font-style: italic;
}
.diferenciales{
    background-color: #ccccff;
    padding:20px;
}
.tituloCentro{
    text-align: center;
}
ul{
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferencial{
    width: 400px;
}